#SELECT_EXAMPLE_FORM.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: '#SELECT_EXAMPLE_FORM_LABEL', hidden: 'true'}}
  = form_tag(new_applicant_url, method: :get) do
    .modal-dialog
      .modal-content
        .modal-header
          %h5#SELECT_EXAMPLE_FORM_LABEL.modal-title= t('root.index.popup.title')
          %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
            %i.fas.fa-times
        .modal-body
          %p= t('root.index.popup.helper_text')
          = hidden_field_tag(:locale, I18n.locale)
          .form-group
            = label :applicant, :ssn, t('root.index.popup.example_label')
            = select :applicant, :ssn, options_for_select(@examples), {include_blank: 'None - All Checks will Pass'}, {class: 'form-control'}
          %hr
          %p
            .custom-switch
              = check_box_tag :enable_bank_accounts, 1, session['enable_bank_accounts']
              = label_tag :enable_bank_accounts, t('root.index.popup.enable_bank_accounts')
          %p
            .custom-switch
              = check_box_tag :enable_documents, 1, session['enable_documents']
              = label_tag :enable_documents, t('root.index.popup.enable_documents')
          %p
            .custom-switch
              = check_box_tag :enable_wage_verifications, 1, session['enable_wage_verifications']
              = label_tag :enable_wage_verifications, "Enable Wage Verifications"
          %p
            .custom-switch
              = check_box_tag :enable_factorybot, 1, session['enable_factorybot']
              = label_tag :enable_factorybot, t('root.index.popup.enable_factorybot')
        .modal-footer
          .d-flex.flex-row-reverse
            = submit_tag t('shared.continue'), class: 'btn btn-success'
