- content_for(:page_header) { t('admin.metrics.index.header') }

%p Some metrics pages:

%ul.none
  %li.mb-3= link_to 'NPS', '/metrics/data-nps.html', class: 'btn btn-primary'
  %li.mb-3= link_to 'Application TAT Percentile Breakdown by Stage', '/metrics/tats-stacked-bar.html', class: 'btn btn-primary'
  %li.mb-3= link_to 'Time to Approval in Weeks', '/metrics/temperature-stacked-bar.html', class: 'btn btn-primary'
  %li.mb-3= link_to 'ROC', '/metrics/roc.html', class: 'btn btn-primary'
  %li.mb-3= link_to 'Weekly Backlog', '/metrics/weekly-backlog.html', class: 'btn btn-primary'
