- content_for(:page_header) { t('session.new.header') }

.card-body
  = form_tag(sessions_url) do
    = hidden_field_tag :redirect_path, @redirect_path
    .form-group
      = label_tag :email, t('session.new.email')
      = email_field_tag :email, nil, class: 'form-control'
    .form-group
      = label_tag :password, t('session.new.password')
      = password_field_tag :password, nil, class: 'form-control'
    .form-group
      = submit_tag t('session.new.login'), class: 'btn btn-success'
