.text-center
  %h1.card-title= t("applicant.show.#{@applicant.descision.parameterize}.header")
  %p= t("applicant.show.#{@applicant.descision.parameterize}.helper_text")
  = descision_icon(@applicant.descision, size: 10)
  - unless @applicant.Approved?
    %h4.my-4= t("applicant.show.#{@applicant.descision.parameterize}.reasons_html")
    = render 'reasons'
