- content_for(:page_header) { t('document.new.header') }

%p= t('document.new.helper_text')
= form_for [@applicant, @document], multipart: true do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, 'error')} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :document_type
    = f.select :document_type, Document.document_types.keys.map { |k| [t("shared.document_types.#{k}"), k] }, { include_blank: true }, class: 'form-control'
  .form-group
    = f.label :file
    = f.file_field :file, accept: 'image/*', class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-success'
