!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title || t('shared.site_title')
    = csrf_meta_tags
    = csp_meta_tag

    = render 'layouts/favicon'

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: 'https://kit.fontawesome.com/e9501c4774.js', crossorigin: 'anonymous'}
  %body
    .warning
      .container= t('shared.demo_banner')
    .container
      .card{class: ("border-#{@card_border}" if @card_border.present?)}
        - if content_for?(:page_full_header)
          .card-header= content_for :page_full_header
        - if content_for?(:page_header)
          .card-header
            %h1.card-title= content_for :page_header
        .card-body= yield
