.card
  .card-header
    %h5.card-title= t('admin.applicants.show.options.header')
  .card-body
    %button.btn.btn-primary{role: 'button', data: {toggle: 'modal', target: '#SHOW_APPLICANT_JSON'}}
      = t('admin.applicants.show.options.json.button')
    = link_to 'New View', show2_admin_applicant_url(@applicant), class: 'btn btn-primary'

#SHOW_APPLICANT_JSON.modal{tabindex: '-1', role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5= t('admin.applicants.show.options.json.header')
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
          %i.fas.fa-times
      .modal-body
        %pre.pre-scrollable
          %code= JSON.pretty_generate(@applicant.descision_response)
