.card
  .card-header
    %h5.card-title= t('admin.applicants.show.reasons.header')
  %ul.list-group.list-group-flush
    %li.list-group-item
      %h4= t('admin.applicants.show.reasons.success')
      %ul.none
        - (@applicant.tags & TAG_GROUPS[:success]).each do |t|
          %li
            = decision_icon "Approved"
            = link_to t("shared.tags.#{t.parameterize}"), '#', data: { container: 'body', toggle: 'popover', placement: 'right', trigger: 'focus', title: t("shared.tags.#{t.parameterize}"), content: t("shared.tag_descriptions.#{t.parameterize}") }
    %li.list-group-item
      %h4= t('admin.applicants.show.reasons.warning')
      %ul.none
        - (@applicant.tags & TAG_GROUPS[:warning]).each do |t|
          %li
            = decision_icon "Manual Review"
            = link_to t("shared.tags.#{t.parameterize}"), '#', data: { container: 'body', toggle: 'popover', placement: 'right', trigger: 'focus', title: t("shared.tags.#{t.parameterize}"), content: t("shared.tag_descriptions.#{t.parameterize}") }
    %li.list-group-item
      %h4= t('admin.applicants.show.reasons.danger')
      %ul.none
        - (@applicant.tags & TAG_GROUPS[:danger]).each do |t|
          %li
            = decision_icon "Denied"
            = link_to t("shared.tags.#{t.parameterize}"), '#', data: { container: 'body', toggle: 'popover', placement: 'right', trigger: 'focus', title: t("shared.tags.#{t.parameterize}"), content: t("shared.tag_descriptions.#{t.parameterize}") }
