%ul.none
  - if @applicant.decision_response['raw_responses']['Socure 30'][0]['kyc']['fieldValidations']['streetAddress'] == 0.99
    %li
      = decision_icon('Approved')
      Socure 30
      = t('admin.applicants.show.matches.address')
  - if @applicant.decision_response['raw_responses']['White Pages Pro'][0]['address_checks']['is_valid']
    %li
      = decision_icon('Approved')
      WPP
      = t('admin.applicants.show.matches.address')
  - begin
    - if @applicant.decision_response['raw_responses']['Lexis Nexis Instant ID'][0]['response']['Result']['VerifiedInput']['Address'].present?
      %li
        = decision_icon('Approved')
        LexisNexis
        = t('admin.applicants.show.matches.address')
  - rescue
    %li
      = decision_icon('Denied')
      LexisNexis
      = t('admin.applicants.show.error.address')
