.card
  .card-header
    %h5.card-title= t('admin.applicants.show.wage_info.header')
  %ul.list-group.list-group-flush
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.wage_info.employer_name')
        %span= @applicant.wage_verification&.verified_employer_name
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.wage_info.employer_id')
        %span= @applicant.wage_verification&.verified_employer_id
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.wage_info.wages')
        %span= number_to_currency(@applicant.wage_verification&.verified_wages)
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.wage_info.time_period')
        %span= @applicant.wage_verification&.verified_time_period
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.wage_info.termination_date')
        %span= @applicant.wage_verification&.verified_termination_date
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.wage_info.status')
        %span= @applicant.wage_verification&.truework_verification_status&.titleize
