- content_for(:page_header) { t('admin.applicants.index.header') }

%p= t('admin.applicants.index.helper_text')
%table.table
  %thead
    %tr
      %th= t('admin.applicants.index.table.name')
      %th= t('admin.applicants.index.table.timestamp')
      %th= t('admin.applicants.index.table.decision')
      %th
  %tbody
    - @applicants.each do |applicant|
      %tr
        %td= link_to applicant.full_name, admin_applicant_url(applicant)
        %td= applicant.created_at
        %td
          = decision_icon(applicant.decision)
          = t("shared.#{applicant.decision.parameterize}")
        %td= link_to(t('admin.applicants.view_on_alloy'), applicant.alloy_app_uri, target: '_blank')
