- content_for(:page_full_header) do
  %h1.card-title= @applicant.full_name
  %small= t('admin.applicants.show.applied_at', date: @applicant.created_at)

%table
  %thead
    %tr
      %th= t('admin.applicants.show2.table.head.check')
      %th= t('admin.applicants.show2.table.head.data')
      %th= t('admin.applicants.show2.table.head.source')
      %th= t('admin.applicants.show2.table.head.results')
  %tbody
    %tr
      = render partial: 'show_row_col', locals: {row: :name}
      %td= @applicant.full_name
      %td
        = render 'validations_first_name'
        = render 'validations_last_name'
      %td{style: 'max-width: 250px;'}
        %p
          = decision_icon('Approved')
          Passed
        %small.text-muted= t('admin.applicants.show2.table.rows.name.pass')
    %tr
      = render partial: 'show_row_col', locals: {row: :dob}
      %td= @applicant.birthdate.iso8601
      %td
        = render 'validations_dob'
      %td{style: 'max-width: 250px;'}
        %p
          = decision_icon('Manual Review')
          Manual Review
        %small.text-muted= t('admin.applicants.show2.table.rows.dob.review')
