#APPLICANT_HISTORY_MODAL.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: '#APPLICANT_HISTORY_MODAL_LABEL', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#APPLICANT_HISTORY_MODAL.modal-title= t('claim.history.title')
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
          %i.fas.fa-times
      .modal-body
        - if @applicant.audits.any?
          = t('claim.history.overview')
          %table
            %thead
              %tr
                %th= t('claim.history.date')
                %th= t('claim.history.user')
                %th= t('claim.personal.type')
                %th= t('claim.personal.changes')
              %tbody
                - @audits.each do |audit|
                  %tr
                    %td= audit.created_at.to_datetime.strftime('%F %T')
                    %td= 'Someone'
                    %td= audit.action
                    %td
                      - audit.audited_changes.keys.each do |change|
                        - audited_change = audit.audited_changes.fetch(change)
                        - if audited_change.kind_of?(Array)
                          = change + " changed from " + audited_change[0].to_s + " to " + audited_change[1].to_s
                        - else
                          = change + " initialized to " + audited_change.to_s
        - else
          %p= t('claim.history.none')
