.card
  .card-header
    %h5.card-title= t('admin.applicants.show.details.header')
  %ul.list-group.list-group-flush
    %li.list-group-item
      .d-flex.justify-content-between
        .info
          %h5= t('admin.applicants.show.details.first_name')
          %span= @applicant.first_name
        .result= render 'validations_first_name'
    %li.list-group-item
      .d-flex.justify-content-between
        .info
          %h5= t('admin.applicants.show.details.last_name')
          %span= @applicant.last_name
        .result= render 'validations_last_name'
    %li.list-group-item
      .d-flex.justify-content-between
        .info
          %h5= t('admin.applicants.show.details.birthdate')
          %span= @applicant.birthdate.iso8601
        .result= render 'validations_dob'
    %li.list-group-item
      .d-flex.justify-content-between
        .info
          %h5= t('admin.applicants.show.details.ssn')
          %span= @applicant.ssn.gsub(/^\d{5}/, "••• - •• - ")
        .result= render 'validations_ssn'
    %li.list-group-item
      .d-flex.justify-content-between
        .info
          %h5= t('admin.applicants.show.details.email_address')
          %span= @applicant.email_address
        .result= render 'validations_email'
    %li.list-group-item
      .d-flex.justify-content-between
        .info
          %h5= t('admin.applicants.show.details.phone_number')
          %span= @applicant.phone_number
        .result= render 'validations_phone'
    %li.list-group-item
      .d-flex.justify-content-between
        .info
          %h5= t('admin.applicants.show.details.address')
          %address
            = @applicant.street_address
            %br
            = "#{@applicant.city}, #{@applicant.state} #{@applicant.postal_code}"
        .result= render 'validations_address'
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Bank Account Number"
        %span= @applicant.bank_account&.bank_account_number&.to_s&.gsub(/\d+(?=\d{4}$)/, "••••••••••••")
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Bank Routing Number"
        %span= @applicant.bank_account&.bank_routing_number
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Reported Employer Name"
        %span= @applicant.wage_verification&.reported_employer_name
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Reported Employer Id"
        %span= @applicant.wage_verification&.reported_employer_id
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Reported Termination Date"
        %span= @applicant.wage_verification&.verified_termination_date
