#APPLICANT_HISTORY_MODAL.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: '#APPLICANT_HISTORY_MODAL_LABEL', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#APPLICANT_HISTORY_MODAL.modal-title= t('claim.history.title')
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
          %i.fas.fa-times
      .modal-body
        - if @applicant.audits.any?
          = t('claim.history.overview')
          %table
            %thead
              %tr
                %th= t('claim.history.date')
                %th= t('claim.history.user')
                %th= t('claim.personal.type')
                %th= t('claim.personal.changes')
              %tbody
                - @applicant.audits.each do |audit|
                  %tr
                    %td= audit.created_at.to_datetime.strftime('%F %T')
                    %td= 'Someone'
                    %td= audit.action
                    %td
                      %ul
                        - audit.audited_changes.each do |property, values|
                          %li= t('claim.history.change', property: t("claim.properties.#{property}"), initial_value: t_enum(Applicant, property, values[0]), final_value: t_enum(Applicant, property, values[1]))
        - else
          %p= t('claim.history.none')
