.card
  .card-header
    %h5.card-title= t('admin.applicants.show.details.header')
  %ul.list-group.list-group-flush
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.details.first_name')
        %span= @applicant.first_name
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.details.last_name')
        %span= @applicant.last_name
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.details.birthdate')
        %span= @applicant.birthdate.iso8601
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.details.ssn')
        %span= @applicant.ssn.gsub(/^\d{5}/, "••• - •• - ")
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.details.email_address')
        %span= @applicant.email_address
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.details.phone_number')
        %span= @applicant.phone_number
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= t('admin.applicants.show.details.address')
        %address
          = @applicant.street_address
          %br
          = "#{@applicant.city}, #{@applicant.state} #{@applicant.postal_code}"
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Bank Account Number"
        %span= @applicant.bank_account&.bank_account_number&.to_s&.gsub(/\d+(?=\d{4}$)/, "••••••••••••")
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Bank Routing Number"
        %span= @applicant.bank_account&.bank_routing_number
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Reported Employer Name"
        %span= @applicant.wage_verification&.reported_employer_name
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Reported Employer Id"
        %span= @applicant.wage_verification&.reported_employer_id
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Reported Termination Date"
        %span= @applicant.wage_verification&.verified_termination_date
.card
  .card-header
    %h5.card-title= "TrueWork Verification Details"
  %ul.list-group.list-group-flush
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Verified Employer Name"
        %span= @applicant.wage_verification&.verified_employer_name
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Verified Employer Id"
        %span= @applicant.wage_verification&.verified_employer_id
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Verified Wages"
        %span= number_to_currency(@applicant.wage_verification&.verified_wages)
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Verified Time Period"
        %span= @applicant.wage_verification&.verified_time_period
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Verified Termination Date"
        %span= @applicant.wage_verification&.verified_termination_date
    %li.list-group-item
      .d-flex.justify-content-between
        %strong= "Verification Status"
        %span= @applicant.wage_verification&.verification_status&.titleize
