#APPLICANT_HISTORY_MODAL.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: '#APPLICANT_HISTORY_MODAL_LABEL', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#APPLICANT_HISTORY_MODAL.modal-title= t('claim.history.title')
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
          %i.fas.fa-times
      .modal-body
        - if @applicant.audits.any?
          = t('claim.history.overview')
          %table
            %thead
              %tr
                %th= t('claim.history.date')
                %th= t('claim.history.user')
                %th= t('claim.personal.type')
                %th= t('claim.personal.changes')
              %tbody
                = render @hx
        - else
          %p= t('claim.history.none')
