%ul.none
  - if @applicant.descision_response['raw_responses']['Socure 30'][0]['kyc']['fieldValidations']['firstName'] == 0.99
    %li
      = descision_icon('Approved')
      Socure 30
      = t('admin.applicants.show.matches.first_name')
  - unless @applicant.descision_response['raw_responses']['White Pages Pro'][0]['name_checks']['fake_name']
    %li
      = descision_icon('Approved')
      WPP
      = t('admin.applicants.show.matches.first_name')
  - if @applicant.descision_response['raw_responses']['Lexis Nexis Instant ID'][0]['response']['Result']['VerifiedInput']['Name']['First'].present?
    %li
      = descision_icon('Approved')
      LexisNexis
      = t('admin.applicants.show.matches.first_name')
