- content_for(:page_header) { t('admin.applicants.index.header') }

.card-body
  %p= t('admin.applicants.index.helper_text')
  %table.table
    %thead
      %tr
        %th= t('admin.applicants.index.table.name')
        %th= t('admin.applicants.index.table.timestamp')
        %th= t('admin.applicants.index.table.descision')
        %th
    %tbody
      - @applicants.each do |applicant|
        %tr
          %td= applicant.full_name
          %td= applicant.created_at
          %td
            = descision_icon(applicant.descision)
            = applicant.descision
          %td= link_to(t('admin.applicants.view_on_alloy'), applicant.alloy_app_uri, target: '_blank')
