- content_for(:page_header) { t('admin.applicants.index.header') }

%p= t('admin.applicants.index.helper_text')
-# I need to some how put a form here, with a submit button that gets and replaces @applicants

= form_with url: admin_applicants_url, method: "get" do |f|
  = f.label :q, "Search for:"
  = f.text_field :q
  = f.submit "Search"

%table.table
  %thead
    %tr
      %th= t('admin.applicants.index.table.name')
      %th= t('admin.applicants.index.table.timestamp')
      %th= t('admin.applicants.index.table.descision')
      %th
  %tbody
    - @applicants.each do |applicant|
      %tr
        %td= link_to applicant.full_name, admin_applicant_url(applicant)
        %td= applicant.created_at
        %td
          = descision_icon(applicant.descision)
          = t("shared.#{applicant.descision.parameterize}")
        %td= link_to(t('admin.applicants.view_on_alloy'), applicant.alloy_app_uri, target: '_blank')
