- if @dashboard
  = image_tag 'chart_placeholder.png'

.card
  .card-header
    .main
      %h2
        = t('claims.heading')
        .badge.badge-info= @applicants.count
      = link_to root_url do
        = t('claims.view_link')
        = fa_icon :arrow_right
    .search
      = form_tag(root_url, method: :get) do
        .input-group.input-group-lg
          = text_field_tag(:query, '', placeholder: t('claims.search_ph'))
          .input-group-append
            %button.btn.btn-primary{type: :submit}
              = fa_icon :search
  .card-body
    %table
      %thead
        %tr
          %th= link_to_sort t('claims.name'), :last_name
          %th= link_to_sort t('claims.number'), :id
          %th= link_to_sort t('claims.status'), :status
          %th= link_to_sort t('claims.date'), :created_at
          %th= link_to_sort t('claims.days'), :created_at
      - @applicant_mode = :tr
      %tbody= render @applicants
