%h1= t('claim.page_title')

%ul.filters
  %li
    = fa_icon :filter
    = t('claims.filters.filter')
  %li= t('claims.filters.assigned')
  %li= t('claims.filters.fraud')
  %li= t('claims.filters.unverified')
  %li= t('claims.filters.out_of_state')
  %li= t('claims.filters.older')

.claim-display
  %ul.sidebar
    = render @applicants
  .claim
    %section.progress
      %ul.arrows
        %li
          = t('claim.statuses.filed')
        %li
          = t('claim.statuses.verified')
        %li
          = t('claim.statuses.review')
        %li
          = t('claim.statuses.closed')
    %header
      .name
        %h2
          = @applicant.full_name
          .small= @applicant.id
        .small
          %span.badge= t('claim.statuses.closed')
          =t('claim.filed_on', date: @applicant.created_at&.iso8601)
      .actions
        = link_to '#' do
          = fa_icon :history
          = t('claim.actions.hx')
        = link_to t('claim.actions.update'), '#', class: 'btn btn-primary btn-lg'
    %section.alerts
      .alert.alert-warning
        = fa_icon :exclamation_triangle
        = t('claim.alerts.unverified')
    %section.info
      %ul.nav.nav-tabs{role: 'tablist'}
        %li#PERSONAL_TAB.nav-item{role: 'presentation'}= link_to t('claim.sections.personal'), '#PERSONAL', data: {toggle: 'tab'}, role: 'tab', aria: {controls: 'PERSONAL', selected: 'true'}
        %li#EMPLOYMENT_TAB.nav-item{role: 'presentation'}= link_to t('claim.sections.employment'), '#EMPLOYMENT', data: {toggle: 'tab'}, role: 'tab', aria: {controls: 'EMPLOYMENT', selected: 'false'}
        %li#QUESTIONS_TAB.nav-item{role: 'presentation'}= link_to t('claim.sections.questions'), '#QUESTIONS', data: {toggle: 'tab'}, role: 'tab', aria: {controls: 'QUESTIONS', selected: 'false'}
        %li#DOCUMENTS_TAB.nav-item{role: 'presentation'}= link_to t('claim.sections.documents'), '#DOCUMENTS', data: {toggle: 'tab'}, role: 'tab', aria: {controls: 'DOCUMENTS', selected: 'false'}
      .tab-content
        #PERSONAL.tab-pane.fade.show.active{role: 'tabpanel', aria: {labeledby: 'PERSONAL_TAB'}}= render 'personal_tab'
        #EMPLOYMENT.tab-pane.fade{role: 'tabpanel', aria: {labeledby: 'EMPLOYMENT_TAB'}}= render 'employment_tab'
        #QUESTIONS.tab-pane.fade{role: 'tabpanel', aria: {labeledby: 'QUESTIONS_TAB'}}= render 'questions_tab'
        #DOCUMENTS.tab-pane.fade{role: 'tabpanel', aria: {labeledby: 'DOCUMENTS_TAB'}}= render 'documents_tab'
