!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title || t('shared.app_name')
    = csrf_meta_tags
    = csp_meta_tag

    = render 'layouts/favicon'

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: 'https://kit.fontawesome.com/e9501c4774.js', crossorigin: 'anonymous'}
  %body
    = render 'layouts/navbar'
    #PAGE= yield
