!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title || 'Papua ID Demo'
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: 'https://kit.fontawesome.com/e9501c4774.js', crossorigin: 'anonymous'}
  %body
    .warning
      .container Right! This is a demo. Like....do not put real information in this. I should not have to say that, but...still. For real. Do not put real information into this! And if you do, and something bad happens, you have been duely warned and it is absolutely not Matt&apos;s fault!
    .container
      .card{class: ("border-#{@card_border}" if @card_border.present?)}
        - if content_for?(:page_header)
          .card-header
            %h1.card-title= content_for :page_header
        = yield
